apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: mukulsharma1212ms/account-service:latest
          ports:
            - containerPort: 9092
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://registry-service:8761/eureka