apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: mukulsharma1212ms/api-gateway:latest
          ports:
            - containerPort: 9095
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://registry-service:8761/eureka