apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: mukulsharma1212ms/auth-service:latest
          ports:
            - containerPort: 9091
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://registry-service:8761/eureka