server:
  port: 9094
spring:
  datasource:
   url: jdbc:mysql://mysql-service:3306/transactiondb
   username: root
   password: mukul
  application:
    name: TRANSACTION-SERVICE
  jpa:
    hibernate:
     ddl-auto: update
    show-sql: true
eureka:
  client:
   service-url:
    defaultZone: http://localhost:8761/eureka
